/* schedule table */
.calendar-td{
    border: 1px solid;
    border-color: white;
    text-align: center;
}
.calendar-th{
    width: 150px;
    height:41px;
    border: 1px solid;
    border-color: white;
    text-align: center;
    background: buttonface;
}
button.schedule{
    border-radius:0px !important;
    -moz-appearance:none !important;
    -webkit-appearance:none !important;
    width: 100%;
    height: 35px;
    outline: none;
    border: solid rgba(120,120,120,0.35) 1px;
}
.booked{
    background-color:lime !important;
    cursor:not-allowed !important;
}

.schedule-submit{
    margin: 15px;
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
}
.calendar-availble{
    background: #0e90d2;
}
.calendar-availble:hover{
    background: white;
}
.calendar-time{
    background: buttonface;
    width: 200px;
}



/* fullcalendar */
*{
    font-family: arial;
    list-style-type: none;
    color: #333333;
}
.reservedSlot{
    -webkit-appearance:button;
    -moz-appearance:button;
}
.ui-autocomplete-input, .ui-menu, .ui-menu-item {
    z-index: 99999;
}
.fc-event{
    cursor:pointer;
}
.fc-time-grid-event .fc-time{
    display:none;
}
.fc-title{
    margin:auto 0 auto 0;
    vertical-align:middle;
    width: 100%;
    height:100%;
    text-align:center;
    overflow:hidden !important;
    text-overflow: ellipsis;
}
.fc-button{
    outline: none !important;
}
.fc-content{
    vertical-align:middle;
    height:100%;
}
.wday-select{
    float:left;
    margin: 5px;
}
.wday-select:focus{
    outline: none !important;
}
.wday-select.btn-primary:focus{
    background-color: #337ab7;
    border-color: #2e6da4;
}
.wday-select:not(.selected){
    color: black !important;
}
.fc-toolbar button{
    display:none;
}
.week-nav{
    width: 40px;
    height: 54px;
    float: left;
    margin: 5px;
    font-size: 20px;
    font-weight: bold;
}
.calendar-holder{
    margin:35px;
    position:relative;
}
.calendar-loading-indicator{
    display:none;
    width:100%;
    height:1170px;
    position:absolute;
    top:49px;
    left:0;
    background: url("/media/images/icon/large-loader-128.gif") no-repeat center center;
    background-color: rgba(250,250,250,0.7);
    z-index: 99999;
}

/* wdaySelector widget */
.wday-selector{
    margin:0 auto;
    text-align:center;
    width:871px;
    height:65px;
}
.date-navigator{
    margin:0 auto;
    text-align:center;
    width:250px;
    margin-top:10px;
}
.date-navigator .ui-datepicker-trigger{
    border:none;
    width:34px;
    height:34px;
    padding: 0;
    background-color:#428bca;
    border-radius:5px;
    outline:none;
}
.date-navigator .ui-datepicker-trigger img{
    height:30px;
}