.calendar-td{
    border: 1px solid;
    text-align: center;
}
.calendar-th{
    width: 200px;
    border: 1px solid;
    text-align: center;
}
.gui{
    margin: 15px;
    padding: 15px;
    padding-left: 35px;
    padding-right: 35px;
}
